{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <th>FROM</th>
        <th>TO</th>
        <th>VEHICLE</th>
        <th>DEPARTURE TIME</th>
        <th>FARE (KSH)</th>
        <th>SEATS AVAILABLE</th>
        <th>BOOK NOW</th>

        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.route.source }}</td>
                <td>{{ vehicle.route.destination }}</td>
                <td>{{ vehicle.plate_no }} &nbsp; {{ vehicle.vehicle_model }}</td>
                <td>{{ vehicle.departing_time }}</td>
                <td>{{ vehicle.route.fare }}</td>
                <td>{{ vehicle.available_capacity }}</td>
                <td><a href="{% url 'matatu:book_seat' pk=vehicle.pk %} " class="btn btn-success">Book Seat</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}